
@{
    ViewBag.Title = "History";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<h2>LỊCH SỬ VIẾNG THĂM</h2>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb container-md">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "DashboardAdmin")">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lịch sử viếng thăm</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <div class="col">
            <form class="d-flex" role="search">
                <input class="form-control me-2 rounded-pill" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info rounded-circle" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
                <div class="btn btn-info btn-sm mx-3 text-white rounded-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
                    </svg>
                </div>
            </form>
        </div>
        <div class="container-md text-center p-2">
            <div class="row">
                <div class="col">
                    <a href="@Url.Action("VisitPlanDetails", "CreateTask")" class="btn btn-outline-info px-5"><strong>Lịch sử</strong></a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-outline-info px-5"><strong>Giao việc</strong></a>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-outline-info px-5"><strong>Công việc của tôi</strong></a>
                </div>
            </div>

        </div>
    </div>

    <div class="card-body">
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1500px;">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="~/Public/Img/preview.jpg" class="img-fluid rounded-start" style="max-height: 200px;" alt="logo">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="@Url.Action("Index", "CreateTask")" class="text-decoration-none"><h4>Visit Local Supermarket</h4></a><p class="card-text">
                            <small class="text-muted">
                                20/12/2022 <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-dot text-success" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </small>
                        </p>
                        <p class="card-text">Hoàng Văn Phát</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

